@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF8F5;
  font-family: 'Merriweather'; 
}

textarea {
  font-family: 'Merriweather'; 
}

code {
  font-family: 'Merriweather';
}
